body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* Add basic styles to the legend */
.info.legend {
  background: white;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style the legend items (color squares and labels) */
.info.legend i {
  width: 20px;
  height: 20px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

/* Define the color for each depth range */
.info.legend i:nth-child(1) { background: #EB7D5B; }
.info.legend i:nth-child(2) { background: #FED23F; }
.info.legend i:nth-child(3) { background: #B5D33D; }
.info.legend i:nth-child(4) { background: #6CA2EA; }
.info.legend i:nth-child(5) { background: #442288; }
.info.legend i:nth-child(6) { background: #404040; }

/* Style the legend labels */
.info.legend i + span {
    line-height: 10px;
}

